.main-router {
  min-height: 100vh;
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.landing-card-action {
  display: flex;
  justify-content: center;
}

.navbar-logo {
  margin-left: 8px;
}

.access-switch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.access-badge {
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 18px;
  margin-bottom: 12px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-button {
  margin-right: 10px;
}

.group-edit-action {
  display: flex;
  justify-content: center;
}

.group-edit-input-container {
  display: flex;
}

.group-edit-input-buttons-container {
  display: flex;
  align-items: flex-end;
}

.group-edit-input-button {
  cursor: pointer;
}

.device-list {
  border: 1px solid grey;
  padding: 12px;
}

.device-info {
  font-size: 20px;
}
